{
    "presets": [
      "@babel/preset-typescript",
      [
        "@babel/preset-env",
        {
          "targets": {
            "firefox": "60",
            "opera": "50",
            "safari": "10",
            "edge": "79"
          },
          "useBuiltIns": "usage",
          "corejs": "3"
        }
      ]
    ]
  }
